* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    /* border: 1px solid red; */
    height: 100vh;
    width: 100%;
}

.flap {
    background-color: #248;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    margin-right: 1px;
    cursor: pointer;
}

.flapSelected {
    background-color: #ddd !important;
}

.if_main {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* border: 1px solid red; */
}
