* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #45185b; */
  border-top: 5px solid #45185b;
  border-top-left-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.elementsForm {
  background-color: rgba(0, 0, 0, 0.7);
  border: 4px solid #45185b;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 400px;
  margin: 20px;
  margin-top: 30px;
}

.buttonsForm {
  width: 428px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fieldForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.fieldForm > label {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2px;
}

.fieldForm > input {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.316);
  border-radius: 10px;
  color: #fff;
}

#f_day, #f_month, #f_year {
  color: #000;
}

#f_name, #f_arrival_time, #f_departure_time {
  color: #000;
}

.btn-general {
  background-color: #17aa5a;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
  transition: all .4s;

  &:hover {
    background-color: #45185b;
    transform: scale(0.96);
  }
}

.read {
  background-color: #fff;
  border: none;
  display: inline;
  font-weight: bold;
}

div#date {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  & #f_day {
    width: 40px;
    text-align: center;
  }
  
  & #f_month {
    width: 100px;
    text-align: center;
  }
  
  & #f_year {
    width: 70px;
    text-align: center;
  }
}
